<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="bs_listner.MyTestListner"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="bs_testcase.MarketplaceTest"/>
      <class name="bs_testcase.HomePageTest"/>
      <class name="bs_testcase.LoginPageTest"/>
      <class name="bs_listener.SampleProject"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
